{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} About The Project {% endblock %}</h1>
<div class="content">
<p> The purpose of this project is to put to test the concept
    of flask-sqlalchemy module which is a python tool that aids 
    in creating a database using sqlite. the frame work and relational
    choice of database choice is that they are both light weighted
    application. This concept both involve a customize approach in 
    creating your folder content and the database schema.
</p>
</div>
{% endblock %}